/* Project F Custom CSS */

.section {
    background-color: #fff;
    padding: 20px 10px;
}

.content h1:not(:first-child),
article+article {
    margin-top: 60px;
}

.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child),
article+article {
    margin-top: 40px;
}

.content h1+h2:not(:first-child),
.content h2+h3:not(:first-child),
.content h3+h4:not(:first-child),
.content h4+h5:not(:first-child),
.content h5+h6:not(:first-child) {
    margin-top: 15px;
}

.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1em;
}

div.related {
    margin-top: 40px;
}
