/* Flux style for projectf.io */

@font-face {
  font-family: 'berkeleymono';
  src: url('font/BerkeleyMono-Regular.woff2');
  font-display: block;
}

@font-face {
  font-family: 'berkeleymono';
  src: url('font/BerkeleyMono-Bold.woff2');
  font-weight: bold;
  font-display: block;
}

html {
  font-family: verdana, sans-serif;
  font-size: 16px;
  max-width: 900px;
  padding-left: 2%;
  padding-right: 3%;
  margin: 0 auto;
  background: #FFFFFF;
}

pre code {
  font-family: berkeleymono, monospace;
  font-size: 14px;
  background-color: black;
  color: #EEEEEE;
  border: 1px solid grey;
  padding-left: 2%;
  padding-top: 1ch;
  padding-bottom: 1ch;
  overflow-x: auto;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: berkeleymono, monospace;
}

h1 {
  font-size: 1.75em;
  margin-bottom: 0.2em;
}

h2 {
  margin-top: 1.5em;
}

h2, h3, h4, h5, h6  {
  margin-bottom: 0;
}

p.site_name {
  font-family: berkeleymono, monospace;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}

p.site_name a {
  text-decoration: none;
}

p.published {
  margin-top: 0.5em;
  font-size: smaller;
  color: #707070;
}

a {
  color: inherit;  /* links don't change colour */
}

table {
  table-layout: fixed;
  min-width: 60%;
  margin: 2em auto;
  border-collapse: collapse;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

th, td {
  padding: 0.4em;
}

td.lft, th.lft {
  text-align: left;
}

td.cen, th.cen {
  text-align: center;
}

td.rgt, th.rgt {
  text-align: right;
}

thead {
  background-color: #ccc;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

figcaption,
table caption {
  padding-top: 0.5em;
  font-style: italic;
  caption-side: bottom;
  text-align: left;
  font-size: 0.9em;
}

figure {
  max-width: 100%;
  margin: 1.5em auto;
}

aside {
  margin: 1.5em 0;
  background: #D4D6FF;
  border: 1px solid #999;
  padding: 0.4em;
}

blockquote {
  border-left: 4px solid #999;
  padding: 0.25rem;
  margin: 1.5em auto;
}

aside > h3,
aside > p,
blockquote > p {
  margin: 0.5rem 1rem;
}

ol, ul
{
  margin: 1em auto 2em;
}

li {
  margin: 0.4em 0;
}
